.container {
  display: flex;
  gap: 1rem;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.options-container {
  width: 22%;
  background: #fff;
  border-radius: 8px;

  .options-subcontainer {
    min-height: 20rem;
  }

  .option {
    padding: 1rem;
    cursor: pointer;
    border-radius: 8px;

    &::hover {
      background: #cecece;
    }
  }

  .active {
    font-weight: bold;
    padding: 1rem;
    border-radius: 8px;
    background: var(--blue-100);
  }

  @media (max-width: 600px) {
    width: 100%;
    overflow-x: auto;

    .options-subcontainer {
      min-height: 0;
      width: 100%;
      display: flex;
    }

    .option {
      flex: 2 0 auto;
    }
  }
}

.subcontainer {
  width: 78%;
  padding: 1.5rem 2rem;
  background: #fff;
  border-radius: 8px;

  .center-container {
    .content-container {
      display: flex;
      gap: 2rem;
    }

    .content-subcontainer {
      width: 50%;
    }

    .map-container {
      width: 50%;
    }
  }

  @media (max-width: 600px) {
    width: 100%;
    padding: 1rem;

    .content-subcontainer, .map-container {
      width: 100% !important;
    }

    .content-container {
      flex-direction: column;
    }

  }
}

.card {
  padding: 1.5rem 2rem;
}
