<div class="topnav" id="myTopnav">
  <div class="logo-container">
    <a class="brand-logo">
      <img alt="app logo" [src]="logo" class="brand-logo-img" />
    </a>
  </div>

  <div class="option-container" *ngIf="items?.length > 0">
    <a [routerLink]="['/']" class="option">Home</a>

    <ng-template ngFor let-item [ngForOf]="items" let-i="index">
      <div class="dropdown" *ngIf="item.items?.length; else elseBlock">
        <button class="dropbtn">
          {{ item.label }}
          <i class="pi pi-angle-down text-sm"></i>
        </button>
        <div class="dropdown-content">
          <ng-template ngFor let-submenu [ngForOf]="item.items" let-i="index">
            <div
              class="submenu-dropdown"
              *ngIf="submenu.items?.length; else submenuElse"
            >
              <button class="submenu-dropbtn">
                {{ submenu.label }}
                <i class="pi pi-angle-right text-sm"></i>
              </button>
              <div class="submenu-dropdown-content">
                <a
                  *ngFor="let link of submenu.items; index as i"
                  [routerLink]="link['link']"
                  >{{ link.label }}</a
                >
              </div>
            </div>

            <ng-template #submenuElse>
              <a [routerLink]="submenu['link']">{{ submenu.label }}</a>
            </ng-template>
          </ng-template>
        </div>
      </div>

      <ng-template #elseBlock>
        <a
          [href]="item.link"
          *ngIf="item.isExternal; else notExternalLink"
          class="option active"
          >{{ item.label }}</a
        >

        <ng-template #notExternalLink>
          <a [routerLink]="[item.link]" class="option active">{{
            item.label
          }}</a>
        </ng-template>
      </ng-template>
    </ng-template>

    <a
      href="javascript:void(0);"
      style="font-size: 15px"
      class="icon text-2xl"
      (click)="toggleHeader()"
      >&#9776;</a
    >
  </div>
</div>

<p-sidebar [(visible)]="showMobileNavBar" position="right">
  <div class="option-mobile">
    <a
      [routerLink]="['/']"
      [style]="{ color: '#000' }"
      (click)="redirectToUrl('/'); showMobileNavBar = false"
      >Home</a
    >
  </div>
  <ng-template ngFor let-item [ngForOf]="items" let-i="index">
    <div class="flex flex-column">
      <div class="dropdown-mobile" *ngIf="item.items?.length; else elseBlock">
        <button class="dropbtn-mobile" (click)="handleDropDownMobile($event)">
          {{ item.label }}
          <i class="pi pi-angle-down text-sm"></i>
        </button>
        <div class="dropdown-content-mobile">
          <ng-template ngFor let-submenu [ngForOf]="item.items" let-i="index">
            <div
              class="submenu-dropdown"
              *ngIf="submenu.items?.length; else submenuElse"
            >
              <button
                class="submenu-dropbtn"
                (click)="showMobileNavBar = false"
              >
                {{ submenu.label }}
                <i class="pi pi-angle-right text-sm"></i>
              </button>
              <div class="submenu-dropdown-content">
                <a
                  *ngFor="let link of submenu.items; index as i"
                  (click)="
                    redirectToUrl(link['link']); showMobileNavBar = false
                  "
                  >{{ link.label }}</a
                >
              </div>
            </div>

            <ng-template #submenuElse>
              <a
                (click)="
                  redirectToUrl(submenu.link); showMobileNavBar = false
                "
                class="cursor-pointer"
                >{{ submenu.label }}</a
              >
            </ng-template>
          </ng-template>
        </div>
      </div>

      <ng-template #elseBlock>
        <a
          [href]="item.link"
          target="_blank"
          *ngIf="item.isExternal; else notExternalLink"
          class="option-mobile"
          >{{ item.label }}</a
        >

        <ng-template #notExternalLink>
          <a
            [routerLink]="[item.link]"
            class="option-mobile"
            (click)="showMobileNavBar = false"
            >{{ item.label }}</a
          >
        </ng-template>
      </ng-template>
    </div>
  </ng-template>
</p-sidebar>