<!-- Hero Section -->
<div class="hero-section">
  <p-carousel
    [value]="hero?.image?.data"
    [numVisible]="1"
    [numScroll]="1"
    [showIndicators]="false"
    [showNavigators]="false"
    [circular]="true"
    [autoplayInterval]="5000"
    styleClass="hero-banner-carousel"
  >
    <ng-template let-product pTemplate="item">
      <div class="surface-border img-container">
        <img
          src="{{
            product.attributes.url.includes('http')
              ? product.attributes.url
              : 'http://localhost:1337' + product.attributes.url
          }}"
          [alt]="product?.attributes?.name"
          class="hero-banner-img"
        />
      </div>
    </ng-template>
  </p-carousel>

  <div class="hero-banner-text">
    <div class="main">
      <img src="/assets/demo/images/in.svg" class="flag-img" />
      <h1 class="">
        {{ hero?.title }}
      </h1>
    </div>

    <div class="hero-description text-2xl text-center">
      {{ hero?.description }}
      <div class="flex justify-content-center">
        <a href="{{ hero?.link?.link }}" target="_blank">
          <button
            *ngIf="hero?.link?.label"
            class="primary-btn mt-3 text-2xl cursor-pointer"
          >
            {{ hero?.link?.label }}
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<div [style]="{ background: '#fff' }">
  <div class="process-container wrapper">
    <h3 class="section-heading">How it works</h3>

    <div class="process-subcontainer">
      <div class="process-block">
        <i class="fa-regular fa-hand-pointer text-2xl"></i>

        <div class="process-title">Choose Service</div>
        <div class="text-color-secondary">
          Whether you're traveling for tourism, business, or to visit family,
          we've got you covered.
        </div>
      </div>

      <div class="process-block">
        <i class="fa-regular fa-calendar-check text-2xl"></i>
        <div class="process-title">Book Appointment</div>
        <div class="text-color-secondary">
          We'll help you find the right appointment at the nearest center.
        </div>
      </div>

      <div class="process-block">
        <i class="pi pi-map-marker text-2xl"></i>
        <div class="process-title">Visit Center</div>
        <div class="text-color-secondary">
          Bring your passport and other required documents to the center on your
          appointment day.
        </div>
      </div>
    </div>

    <a
      href="https://uat-appointment.sgivs.com/appointment/schedule/service-type"
      p-button
      icon="pi"
      label="Get Started"
      target="_blank"
    >
      <p-button label="Get Started" styleClass="mt-3"></p-button>
    </a>
  </div>
</div>

<div class="mt-2 banner-carousel">
  <p-carousel
    [value]="slides"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="5000"
  >
    <ng-template let-product pTemplate="item">
      <div class="border-1 surface-border border-round m-2 p-3">
        <div class="mb-3">
          <div class="relative mx-auto">
            <a [href]="product.link">
              <img
                src="{{ product.image.data.attributes.url }}"
                [alt]="product.name"
                class="w-full border-round"
              />
            </a>
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<div class="performance-container">
  <h1
    class="main-heading wrapper"
    [style]="{
      color: '#000'
    }"
  >
    Since 2001, we have processed <br />over
    <span
      [style]="{
        color: '#017DD2'
      }"
      >287,380,263</span
    >
    application
  </h1>

  <div class="performance-subcontainer wrapper">
    <div>
      <h1 class="number-element">3415</h1>
      <div class="number-subtitle">Application Centres</div>
    </div>

    <div>
      <h1 class="number-element">151</h1>
      <div class="number-subtitle">Countries of Operation</div>
    </div>

    <div>
      <h1 class="number-element">67</h1>
      <div class="number-subtitle">Client Governments</div>
    </div>
  </div>
</div>

<div class="news-visa-container wrapper">
  <div class="subcontainer">
    <h3>News and Updates</h3>

    <div class="">
      <div
        class="news-card mb-3"
        *ngFor="let article of newsArticles; let i = index"
      >
        <a
          [routerLink]="['/news/article', article.attributes.slug]"
          class="text-xl"
          >{{ article.attributes.title }}</a
        >

        <div class="mt-2 flex gap-2 align-items-center">
          <p-chip [label]="article.attributes.departure_country" />
          <p-chip [label]="article.attributes.date" icon="pi pi-calendar" />
        </div>
      </div>
    </div>

    <p-button label="More News" [routerLink]="'/news/articles'" />
  </div>

  <div class="subcontainer flex">
    <video controls width="100%">
      <source
        src="/assets/demo/images/ivs-global.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<!-- <div class="media-container wrapper">
  <div class="video-container">
    
  </div>

  <div class="image-container">
    <a [href]="image.link" *ngFor="let image of imageMedia">
      <img src="{{ image.media.data.attributes.url }}" alt="" />
    </a>
  </div>
</div> -->

<div [style]="{ background: '#fff' }">
  <div class="banner-carousel wrapper">
    <h3 class="section-heading mt-3">Testimonials</h3>
    <p-carousel
      [value]="testimonials"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="true"
      styleClass="mb-3"
      [responsiveOptions]="carouselResponsiveOptions"
    >
      <ng-template let-product pTemplate="item">
        <div class="card m-2 testimonial-card">
          <div class="relative flex content">
            <blockquote class="">{{ product.review }}</blockquote>

            <div class="mt-auto">
              <cite>{{ product.reviewer_name }}</cite>
              <div>{{ product.country }}</div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>

<!-- <div class="useful-links-container">
  <app-useful-links></app-useful-links>
</div> -->

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-fussion"
  [fullScreen]="true"
>
  <app-loader></app-loader>
</ngx-spinner>
