<div class="wrapper">
  <h2 class="p-1 main-heading">{{ visaType?.title }}</h2>
  <div class="visa-type-container mb-3">
    <div [style]="{ width: '22%' }">
      <div class="options-container card mb-0">
        <div
          *ngFor="let tab of visaType?.tabs; index as i"
          (click)="handleTabChange(i)"
          [ngClass]="{ active: tab === currentTab }"
          class="option"
        >
          {{ tab.label }}
        </div>
      </div>
    </div>
    <div class="content-container card">
      <h3 class="section-heading">{{ currentTab?.title }}</h3>

      <div
        [innerHtml]="currentContent"
        class="content custom-style-elements"
      ></div>
    </div>
  </div>
</div>
