<div class="layout-topbar">
  <a class="app-logo" routerLink="/">
    <img alt="app logo" [src]="logo" />
    <span class="app-name">Verona</span>
  </a>

  <button
    #menubutton
    class="topbar-menubutton p-link"
    type="button"
    (click)="onMenuButtonClick()"
  >
    <span></span>
  </button>

  <ul class="topbar-menu text-black">
    <li *ngFor="let item of tabs; let i = index">
      <a
        [routerLink]="item.routerLink"
        routerLinkActive="active-route"
        [routerLinkActiveOptions]="
          item.routerLinkActiveOptions || {
            paths: 'exact',
            queryParams: 'ignored',
            fragment: 'ignored',
            matrixParams: 'ignored'
          }
        "
        [fragment]="item.fragment"
        [queryParamsHandling]="item.queryParamsHandling"
        [preserveFragment]="item.preserveFragment!"
        [skipLocationChange]="item.skipLocationChange!"
        [replaceUrl]="item.replaceUrl!"
        [state]="item.state"
        [queryParams]="item.queryParams"
      >
        <span>{{ item.label }}</span>
      </a>
    </li>
  </ul>
  <!-- <ul class="topbar-menu">
    <p-menubar [model]="items" class="custom-menubar">
      <ng-template pTemplate="item" let-item let-root="root">
        <a pRipple class="flex align-items-center p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <p-badge
            *ngIf="item.badge"
            [ngClass]="{ 'ml-auto': !root, 'ml-2': root }"
            [value]="item.badge"
          />
          <span
            *ngIf="item.shortcut"
            class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
            >{{ item.shortcut }}</span
          >
          <i
            *ngIf="item.items"
            [ngClass]="[
              'pi',
              root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
            ]"
          ></i>
        </a>
      </ng-template>
    </p-menubar>
  </ul> -->

  <!-- <div
    class="topbar-search"
    [ngClass]="{ 'topbar-search-active': searchActive }"
  >
    <div class="search-input-wrapper">
      <span class="p-input-icon-right">
        <input
          #searchinput
          type="text"
          pInputText
          placeholder="Search"
          (blur)="deactivateSearch()"
          (keydown.escape)="deactivateSearch()"
        />
        <i class="pi pi-search"></i>
      </span>
    </div>
  </div> -->

  <div class="topbar-profile">
    <button
      class="topbar-profile-button p-link"
      type="button"
      pStyleClass="@next"
      enterClass="hidden"
      enterActiveClass="scalein"
      leaveToClass="hidden"
      leaveActiveClass="fadeout"
      [hideOnOutsideClick]="true"
    >
      EN
      <i class="pi pi-angle-down"></i>
    </button>
    <ul
      class="list-none p-3 m-0 border-round shadow-2 hidden absolute surface-overlay origin-top w-full sm:w-12rem mt-2 right-0 top-auto"
    >
      <li>
        <a
          pRipple
          class="flex p-2 border-round align-items-center hover:surface-hover transition-colors transition-duration-150 cursor-pointer"
        >
          <span>English</span>
        </a>
        <a
          pRipple
          class="flex p-2 border-round align-items-center hover:surface-hover transition-colors transition-duration-150 cursor-pointer"
        >
          <span>Japanese</span>
        </a>
      </li>
    </ul>
  </div>
</div>
