<div class="layout-footer">
  <div class="footer-subcontainer wrapper">
    <div class="top-section">
      <div class="left-side">
        <div class="flex flex-column gap-3">
          <div class="text-xl text-white">Quick Links</div>
          <a href="/">Home</a>
          <!-- <a>About Us</a> -->
          <a href="/contact-us">Contact Us</a>
          <a href="https://uat-appointment.sgivs.com/appointment/track-status" target="_blank">Track Application</a>
          <a href="/news/articles">News</a>
        </div>

        <div class="flex flex-column gap-3">
          <div class="text-xl text-white">General</div>
          <a href="/faq">FAQ's</a>
          <a href="/security-regulations">Security Regulation</a>
          <a href="/useful-links">Useful Links</a>
          <a href="/public-holidays">Public Holidays</a>
          <a href="/sitemap">Sitemap</a>
        </div>
      </div>

      <p-divider layout="vertical" class="vertical-divider" />

      <div class="right-side">
        <div>
          <div class="text-2xl text-white mb-2">Dubai</div>
          <div class="mt-1 flex gap-2 align-items-center">
            <i class="fa-solid fa-location-dot"></i> Room No : 102, 103 & 104,
            Business Atrium Bldg, Oud Metha, Dubai
          </div>
          <div class="additional-details">
            <a
              href="mailto:info@sgivs.com"
              class="flex gap-2 align-items-center"
            >
              <i class="fa-solid fa-envelope"></i>info&#64;sgivs.com</a
            >
            <div class="flex gap-2 align-items-center">
              <i class="fa-solid fa-phone"></i> +971 4 357 9585
            </div>
          </div>
        </div>

        <div>
          <div class="text-2xl text-white mb-2">Abu Dhabi</div>
          <div class="mt-1 flex gap-2 align-items-center">
            <i class="fa-solid fa-location-dot"></i> Abu Dhabi University
            building, Room No:701, Shaikh Al Nahyan Camp Area, Abu Dhabi
          </div>
          <div class="additional-details">
            <a
              href="mailto:danish@sgivs.com"
              class="flex gap-2 align-items-center"
            >
              <i class="fa-solid fa-envelope"></i>danish&#64;sgivs.com</a
            >
            <div class="flex gap-2 align-items-center">
              <i class="fa-solid fa-phone"></i> +971 2 445 6994
            </div>
          </div>
        </div>
      </div>
    </div>

    <p-divider class="divider-bg" align="center">
      <div class="flex gap-5 px-5">
        <a href="https://www.linkedin.com/company/sgivsglobal/" target="_blank">
          <i class="fa-brands fa-linkedin-in text-xl"></i>
        </a>
        <a href="https://twitter.com/sgivsglobal" target="_blank">
          <i class="fa-brands fa-x-twitter text-xl"></i>
        </a>
        <a href="https://www.facebook.com/sgivsglobal" target="_blank">
          <i class="fa-brands fa-facebook-f text-xl"></i>
        </a>
        <a href="https://www.instagram.com/sgivsglobal" target="_blank">
          <i class="fa-brands fa-instagram text-xl"></i>
        </a>
        <a href="mailto:info@sgivs.com" target="_blank">
          <i class="fa-solid fa-envelope text-xl"></i>
        </a>
      </div>
    </p-divider>

    <div class="bottom-section">
      <div class="flex flex-column justify-content-center align-items-center">
        <img src="assets/layout/images/logo_white.png" width="200px" />
        <div class="text-center mt-2">Copyright &copy; All Rights Reserved</div>

        <div class="privacy-page-container">
          <a class="underline" href="/privacy-and-cookie-policy">Privacy and cookie policy</a>

          <a class="underline" href="/terms-and-conditions">Terms and conditions</a>
        </div>
      </div>
    </div>
  </div>
</div>
